.toolbar {
  --background: #A3333D;
}
.title {
  font-family: "Open Sans", sans-serif;
}
.button {
  font-family: "Open Sans", sans-serif;
  --color: white !important;
}
.logout {
  width: 20px;
  height: 20px;
}