.img {
  max-height: 90px;
}
.isAuth {
  border: 2px solid #ecb03c;
}
.isNAuth {
  border: 2px solid #11e662;
}
.space {
  display: flex;
  justify-content: space-between;
}
.delete {
  width: 30px;
  height: 30px;
  margin: 8px;
}
